name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  setup-cache:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.5.7

    - uses: actions/cache@v2
      id: cache
      with:
        path: |
          vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}

    - name: Bundle install
      run: |
        gem install bundler -v '< 2.0'
        bundle config path vendor/bundle
        bundle install --local --jobs 4 --retry 3

    - name: Yarn install
      run: |
        yarn

  rspec:
    needs: setup-cache
    runs-on: ubuntu-latest
    steps:
    - name: Run tests
      run: |
        bundle exec rspec

  veracode:
    needs: rspec
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/sourceclear
        env:
          SRCCLR_API_TOKEN: ${{ secrets.SRCCLR_API_TOKEN }}
