name: CI

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  veracode:
    #    needs: setup-cache
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/sourceclear
        env:
          SRCCLR_API_TOKEN: ${{ secrets.SRCCLR_API_TOKEN }}
